.slider{
    position: relative;
    // max-height: 200px;
}

.promoCard{
    width: 100%;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
}

.button{
    position: absolute;
    z-index: 1;
    font-size: 46px;
    color: white;
    top: 45%;

    @media (max-width: 1280px) {
       visibility: hidden; 
    }
}

.buttonPrev{
    left: 0;
}

.buttonNext{
    right: 0;
}