.item {
    padding: 20px;
    background-color: var(--color-grey-lightest);
    border-radius: 10px;

	&:not(:last-child) {
		margin-bottom: 20px;
        border-bottom: 1px var(--color-grey);
	}

    	@media (max-width: 576px) {
		padding: 32px 20px 30px;
	}
}

.top{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 10px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	margin-bottom: 21px;
    border-bottom: 2px solid var(--color-grey);

	@media (max-width: 576px) {
		font-size: 17px;
		line-height: 21px;
		margin-bottom: 17px;
	}
}

.left{
    display: flex;
    flex-direction: column;
}

.user{
    padding-bottom: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0;
	white-space: pre-line;
	word-wrap: break-word;
	font-size: 14px;
	line-height: 20px;

	&.truncated {
		max-height: 100px;
		overflow: hidden;
	}
}

.positive, .negative{
    padding: 10px;
}

.text{
    
}