.searchItem{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--color-blue-darkest);
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: var(--color-blue-light);
        color: var(--color-dark)
    }

    &:not(:last-child){
        margin-bottom: 10px;
    }
}

.left, .right{
    display: flex;
    align-items: center;
}

.right{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image{
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

