.gallerySlider{
    margin-right: -25px;
}

.slider{
    position: relative;
}

.galleryItem{
    padding-right: 24px;
}

.button{
    position: absolute;
    z-index: 10;
    font-size: 46px;
    top: 45%;
}

.buttonPrev{
    left: -40px;
}

.buttonNext{
    right: -40px;
}
