.container {
    // ВЫСОТА ВРЕМЕННО СТОИТ ДО ФЕТЧА ДАННЫХ С КАРТИНКОЙ
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pagesContainer {
    height: 100%;
    display: flex;
}

.arrow {
    cursor: pointer
}