.inputText {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: var(--color-white);
    border: 1px solid rgba(#000, 0.2);
    border-radius: 5px;
    padding: 0 15px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-dark);

    &.error {
        border: 1px solid var(--color-red);
        box-shadow: 0 0 0 1px var(--color-red);
        &::placeholder {
            color: var(--color-red);
        }
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    &::placeholder {
        color: var(--color-dark);
        opacity: 0.5;
    }
}

.light {
    padding: 0 15px;
    background-color: var(--color-blue-light);
    font-weight: 300;
    color: var(--color-dark);
    border-color: transparent;

    &::placeholder {
        color: var(--color-dark);
        opacity: 0.5;
    }

    &.error {
        background-color: rgba(#f000, 0.1);
    }
}

.dark {
    padding: 0 15px;
    background-color: var(--color-blue-darkest);
    font-weight: 300;
    color: var(--color-white);
    border-color: transparent;

    &::placeholder {
        color: var(--color-white);
        opacity: 0.5;
    }

    &.error {
        background-color: rgba(#f000, 0.1);
    }
}

.small {
    background-color: var(--color-blue-light);
    color: var(--color-dark);
    height: 35px;
    padding: 0 10px;
    border-color: transparent;

    &.error {
        background-color: rgba(#f000, 0.1);
    }

    &::placeholder {
        color: var(--color-dark);
        opacity: 0.5;
    }
}

.label {
    display: flex;
    flex-direction: column;
}
