html {
	box-sizing: border-box;
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

ul{
    list-style: none;
	margin: 0;
	padding: 0;
}

.container {
    margin: 0 auto;
    padding-left: var(--container-offset);
    padding-right: var(--container-offset);
    max-width: var(--container-width);
}

.appContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}
